@{
    ViewData["Title"] = "Privacy Policy";
}

@foreach (var item in Model)
{

    if (item.EstadoMoto == "EN INGRESO")
    {
<div class="container-estado">
    <img class="img-placa" src="/Imagenes/imagen1.jpg"
         alt="">
    <p class="placain"> PLACA: @item.Placa</p>
    <span>MOTOCICLETA @item.EstadoMoto</span>

</div>
    }
    else if (item.EstadoMoto == "EN REPARACIÓN")
    {
<div class="container-estado cont-reparacion">
    <div>
        <p class="placare">@item.Placa</p>
    </div>
    <div>
        <p>@item.EstadoMoto</p>
    </div>
    
</div>
    }
    else if (item.EstadoMoto == "EN MANTENIMIENTO")
    {
        <div class="container-estado cont-mantenimiento">
            <p class="placaman">@item.Placa</p>
            <p>@item.EstadoMoto</p>
        </div>
    }
    else if (item.EstadoMoto == "PARA ENTREGA")
    {
        <div class="container-estado  cont-entrega">
            <p class="placaen">@item.Placa</p>
            <p>@item.EstadoMoto</p>
        </div>
    }



}



