@{
    ViewData["Title"] = "Privacy Policy";
}

@foreach (var item in Model)
{

    if (item.EstadoMoto == "EN INGRESO")
    {
<div class="container-estado">
    <img class="img-placa" src="/Imagenes/ENINGRESO.png"
         alt="">
    <p class="placain"> PLACA: @item.Placa</p>
    <span>MOTOCICLETA @item.EstadoMoto</span>

</div>
    }
    else if (item.EstadoMoto == "EN REPARACIÓN")
    {
<div class="container-estado">
    <img class="img-placa" src="/Imagenes/ENREPARACIONOMANTENIMIENTO.png"
         alt="">
    <p class="placare"> PLACA: @item.Placa</p>
    <span>MOTOCICLETA @item.EstadoMoto</span>

</div>
    }
    else if (item.EstadoMoto == "EN MANTENIMIENTO")
    {
<div class="container-estado">
    <img class="img-placa" src="/Imagenes/ENREPARACIONOMANTENIMIENTO.png"
         alt="">
    <p class="placaman"> PLACA: @item.Placa</p>
    <span>MOTOCICLETA @item.EstadoMoto</span>

</div>
    }
    else if (item.EstadoMoto == "PARA ENTREGA")
    {
<div class="container-estado">
    <img class="img-placa" src="/Imagenes/LISTAPARAENTRGA.png"
         alt="">
    <p class="placaen"> PLACA: @item.Placa</p>
    <span>MOTOCICLETA @item.EstadoMoto</span>

</div>
    }



}



