@{
    ViewData["Title"] = "Privacy Policy";
}

@foreach (var item in Model)
{

    if (item.EstadoMoto == "EN INGRESO")
    {
        <div class="container-estado cont-ingreso">
            <img class="img-placa" src="/Imagenes/imagen1.jpg"
                 alt="">
            <div class="centrado">
                <p class="placain">@item.Placa</p>
                <p>@item.EstadoMoto</p>
            </div>
        </div>
    }
    else if (item.EstadoMoto == "EN REPARACIÓN")
    {
        <div class="container-estado cont-reparacion">
            <p class="placare">@item.Placa</p>
            <p>@item.EstadoMoto</p>
        </div>
    }
    else if (item.EstadoMoto == "EN MANTENIMIENTO")
    {
        <div class="container-estado cont-mantenimiento">
            <p class="placaman">@item.Placa</p>
            <p>@item.EstadoMoto</p>
        </div>
    }
    else if (item.EstadoMoto == "PARA ENTREGA")
    {
        <div class="container-estado  cont-entrega">
            <p class="placaen">@item.Placa</p>
            <p>@item.EstadoMoto</p>
        </div>
    }



}



